#home:hover{
    background: red;
}

#movies:hover{
    background: red;
}

#tv-series:hover{
    background: red;
}

#most:hover{
    background: red;
}

#top:hover{
    background: red;
}
